*.jl.cov
*.jl.*.cov
*.jl.mem
docs/build
docs/site
docs/src/api/ordinarydiffeq
docs/src/api/stochasticdiffeq
docs/ordinarydiffeq_pages.jl
docs/stochasticdiffeq_pages.jl
docs/common_first_steps.jl
docs/common_imex_first_steps.jl

# vscode stuff
.vscode
.vscode/*

docs/src/assets/Project.toml
Manifest.toml
